<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const loadFile = function (event) {
            const reader = new FileReader();
            reader.onload = function () {
                const productImage = document.getElementById('productImage');
                productImage.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };

    </script>

</head>
<body>
    <form th:method="POST" th:action="@{/products/add-product}"  method="post" th:object="${add_product}" enctype="multipart/form-data">
        <label for="productBrand">Brand</label>
        <input type="text" th:field="*{productBrand}" id="productBrand"/>
        <label for="productName">Name</label>
        <input type="text" th:field="*{productName}" id="productName"/>
        <label for="productDescription">Description</label>
        <input type="text" th:field="*{productDescription}" id="productDescription"/>
        <label for="productPrice">Price</label>
        <input type="number" th:field="*{productPrice}" id="productPrice"/>
        <label for="productStock">Stock</label>
        <input type="number" th:field="*{productStock}" id="productStock"/>
        <label for="uploadImage">Image</label>
        <input type="file" name="uploadImage" accept=".jpg,.jpeg,.png,.gif,.bmp,.tif,.tiff,.svg,.raw,.psd,.ai,.eps,.pdf,.ico,.webp" id="uploadImage" onchange="loadFile(event)" required="required">
        <img class="phones"  id="productImage" style="max-height: 200px; max-width: 200px">
        <button type="submit">Add Product</button>
    </form>
</body>
</html>