<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Users</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script>
    function rowClicked(value) {

      // alert("You clicked on row: " + value)
      $.ajax({
        method: 'GET',
        url: '/'+ value,
        success: function () {
          location.href = "/" + value;
        },
        error: function (xhr, status, error) {
          alert("Error: " + error);
        }
      });
    }

    function deleteUser(value) {
      if (confirm("Are you sure you want to delete this user?")) {

        $.ajax({
          method: 'GET',
          url: '/delete/' + value,
          success: function () {
            location.href = '/delete/' + value;
          },
          error: function (xhr, status, error) {
            alert("Error: " + error);
          }
        });

      } else {
        alert("User not deleted");
      }
    }


  </script>
</head>

<body style="display: flex; flex-direction: row">

<div th:replace="~{fragments/navbar :: navbarUse}"></div>

<div class="container" style="width: 85%; border-top: 10px">

  <div th:replace="~{fragments/messages :: success_error_messages}"></div>

  <h3>List Users</h3>

  <hr/>

  <table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="object: ${users}" th:onclick="'rowClicked(' + ${object.userId} + ');'">
      <td th:text="${object.userId}" />
      <td th:text="${object.firstName}" />
      <td th:text="${object.surname}" />
      <td th:text="${object.address}" />
      <td th:text= "${object.postcode}" />
      <td th:text="${object.phoneNumber}" />
      <td th:text="${object.email}" />
      <td th:onclick="'event.stopPropagation(); return false;'">
        <a th:onclick="'deleteUser(' + ${object.userId} + ');'">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
      </td>

    </tr>
    </tbody>



  </table>

  <div class="d-flex  justify-content-center" style="width: 100%">

    <a th:href="@{/add-user-form}"><button type="button" class="btn btn-success">Add User</button></a>
  </div>



</div>


</body>

</html>