/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  /* Header and navbar styles */
  header {
    background-color: #007aff;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #007aff;
  }
  
  /* Wrapper styles */
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Basket page styles */
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  

  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    /* font-weight: bold; */
  }
  
  table th {
    background-color: #f5f5f5;
  }
  
  table td img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  .checkout-btn {
    background-color: #32CD32;
  }
  
  .checkout-btn:hover {
    background-color: #00FF7F;
  }
  
  .remove-btn {
    background-color: #ff3b30;
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
  }
  
  .remove-btn:hover {
    background-color: #e50000;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .summary p {
    font-weight: bold;
    font-size: 24px;
    /* text-transform: uppercase; Optional */
  }
  
  
  .summary span {
    font-size: 1.2em;
    color: #007aff;
    font-weight: bold;
  }
  