
.rowhomepage{
    padding-left: 10%;
    padding-top: 10%;
    display: flex;
    font-family: Arial;
    font-size: 25px;
    height:500px;

}
.col-1homepage{
    flex-basis:40%;
    top:-100px;
}

.col-1homepage h2{
    font-size: 52px;
    padding-top: -150px;
    font-family:Arial;
}
.col-1homepage h3{
    font-size: 30px;
    font-weight:100;

}
.col-2homepage{
    position: relative;
    flex-basis:60%;
    display: flex;
    align-items:center;
    top:-100px;
}

/*------------------Button----------------*/
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right,#3239a8, #76afff);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
    font-family:Arial;
    font-size: 17px;
}

button img{
    width: 30px;
    display:none;
}
button:hover img{
    display:block;

}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}






/*----------------------new slideshow test----------------*/
.slider{
	position: relative;
	width: 100%;
    height: 90%;
	z-index: 3;
}
.myslide{
	height: 655px;
	display: flex;
	overflow: hidden;
	z-index:3;
}

.prev, .next{
	position: absolute;
	top: 20%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
    margin-top:150px;
	cursor: pointer;
	color: rgb(3, 3, 3);
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #0557a3; 
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active, .dot:hover{
	border-color: #0557a3; 
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

.txt{
	position: absolute;
	color: rgb(0, 58, 217);
	letter-spacing: 2px;
	line-height: 35px;
	top: 30%;
	left: 35%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 3;
    font-family: Arial;
}

@-webkit-keyframes posi {
  from {left: 45%;}
  to {left: 35%;}
}


@keyframes posi {
  from {left: 45%;}
  to {left: 35%;}
}

.txt h1{
	color: rgb(0, 58, 217);;
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}



 
.samsungmain{
    max-width:600px;
    max-height:700px;
    /* padding-top: 40%; */
    position: absolute;
    right:0;
    margin-top: 100px;
}



.cardhomepage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    margin: auto;
    text-align: center;
    font-family: arial;
}


.cardshomepg {
    margin-top: 100px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.cardhomepage button1 {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:  #0557a3;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cardhomepage button1:hover {
    opacity: 0.7;
}
.checked {
    color: orange;
}
.review-section{
    margin-top: 100px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.reviewcards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    height:470px;
    max-height: 470px;
    margin: auto;
    text-align: center;
    font-family: arial;
    line-height:1.5;
    font-style:italic;
}
