.category-filter {
  margin-top: 50px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.filter-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: whitesmoke;
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

.filter-btn.active {
  background-color:whitesmoke;
  color:black;
}

.filter-btn.active:active{
  background-color:red;
}

.filter-btn.active:hover{
  background-color: #5271ff ;
}

.filter-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  margin-top: 30px;
}

.filter-item {
  width: calc(20% - 20px);
  /*background-color: #fff;*/
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-img {
  padding: 20px;
  text-align: center;
}

.item-img img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.item-info {
  padding: 10px;
  text-align: center;
}

.item-info p {
  margin: 0;
  font-weight: bold;
}

.item-price {
  padding: 10px;
  text-align: center;
  background-color:#5271ff ;
}

.item-price p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.item-action {
  padding: 10px;
  text-align: center;
}

.item-action button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #38b6ff;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.item-action button:hover {
  background-color: #38b6ff;
}

@media (max-width: 1024px) {
  .filter-item {
    width: calc(25% - 20px);
  }
}

@media (max-width: 767px) {
  .filter-item {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 480px) {
  .filter-item {
    width: calc(50% - 20px);
  }
}