*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: #F8F8F8;
}

/* Container use to set the loginBigContainer in the middle of the page */
.setEvrythingInTheMiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0%;
}


.registerBigContainer{
    display: flex;
    flex-direction: row;
    border-style: groove;
    border-width: 1px;
    background-color: white;
    border-radius: 25px;
    height: auto;
}

.imageContainer{
    width: 500px;
    height: 600px;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-top: 2%;
}

.registerFormContainer{
    display: flex;
    flex-direction: column;
    width: 500px;  
    height: auto;  
    align-items: center;
    border-left-style: groove;
    border-width: 1px;
}

.box{
    width: 100%;
    height: 10%;
    margin: 15px;
    margin-left: 0px;
}

input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 5px;
}

input:focus{
    border-width: 2px;
    background-color: lightblue;
    transition: 1.5s;
}

.nameContainer{
    display: flex;
    flex-direction: row;
}

.firstNameContainer{
    height: 100%;
    width: 50%;
}

.firstNameContainer > input{
    width: 90%;
}

.surnameContainer{
    height: 100%;
    width: 50%;
}

.surnameContainer > input{
    width: 100%;
}

.submitButtonContainer>button{
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
}

.submitButtonContainer>button:active{
    background-color: white;
    color: black;
    transition: 0s;
  }

.submitButtonContainer>button:hover{
    cursor: pointer;
    font-weight: bold;
}

h1{
    font-family: cursive;
}

h2{
    font-style: italic;
    color: rgb(172, 172, 172);
}

h3{
    font-style: italic;
    color: rgb(172, 172, 172);
}

.registerFormContainer a{
    font-style: italic;
    color: black;
}

.registerFormContainer a:hover{
    color: rgb(172, 172, 172);
    cursor: pointer;
}

form[name="formRegister"]{
    width: 70%;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}



@media screen and (max-width: 900px){        
    .imageContainer{
        display: none;
        
    }

    .registerBigContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        
    }

    .registerFormContainer{
        border-left-style: none;
        width: 100%;
    }
}