<style>
    
    h1 {
        padding:10px;
    }
    table {
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
    }
    
    table th, 
    table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
    }
    
    table th {
      background-color: #38b6ff;
      font-weight: bold;
    }
    
    table tr:nth-child(even) {
      background-color: #c4deeb;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items inside order</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function deleteOrder(value, value2) {
            if (confirm("Are you sure you want to delete this product?")) {

                $.ajax({
                    method: 'GET',
                    url: '/orders/item/delete/' + value + '/' + value2,
                    success: function () {
                        location.href = '/orders/item/delete/' + value + '/' + value2;
                    },
                    error: function (xhr, status, error) {
                        alert("Error: " + error);
                    }
                });

            } else {
                alert("Product not deleted");
            }
        }
    </script>

</head>
<body>

    <div class="container">
        <div th:replace="~{fragments/messages :: success_error_messages}"></div>

        <br>
        <h1 th:text="'Products in the Order for user ' + ${userThatOrdered.userIdfk.email}">Products in Order</h1>

        <hr>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Brand</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Quantity</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orderItems}">
                <td th:text="${order.productIdfk.getProductID()}"></td>
                <td th:text="${order.productIdfk.getProductBrand()}"></td>
                <td th:text="${order.productIdfk.getProductName()}"></td>
                <td th:text="${order.productIdfk.getProductDescription()}"></td>
                <td th:text="${order.productIdfk.getProductPrice()}"></td>
                <td th:text="${order.quantity}"></td>
                <td>
                    <button class="btn btn-danger" th:onclick="'deleteOrder(' +  ${order.getOrderIdfk().getOrderId()} + ',' + ${order.productIdfk.getProductID()} +');'">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>