<style>
    
h1 {
    padding:10px;
}
table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

table th, 
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

table th {
  background-color: #38b6ff;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #c4deeb;
}
</style>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Orders</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body style="display: flex; flex-direction: row">

<div th:replace="fragments/navbar :: navbarUse"></div>

<div class="container" style="width: 85%; border-top: 10px">



    <h1>Orders</h1>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>User Email</th>
            <th>Order Date</th>
            <th>Arrival Date</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object: ${orders}">
            <td th:text="${object.orderId}" />
            <td th:text="${object.userIdfk.email}" />
            <td th:text="${object.orderDate}" />
            <td th:text="${object.arrivalDate}" />
            <td th:text= "${object.status}" />
        </tr>
        <tr th:each="object: ${orders}">
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>