<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Products in Order</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orderItems}">
            <td th:text="${order.productIdfk.getProductID()}"></td>
            <td th:text="${order.productIdfk.getProductBrand()}"></td>
            <td th:text="${order.productIdfk.getProductName()}"></td>
            <td th:text="${order.productIdfk.getProductDescription()}"></td>
            <td th:text="${order.productIdfk.getProductPrice()}"></td>
            <td th:text="${order.quantity}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>